.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/scatlas.owl
src/ontology/scatlas.obo
src/ontology/scatlas.json
src/ontology/scatlas-base.*
src/ontology/scatlas-basic.*
src/ontology/scatlas-full.*
src/ontology/scatlas-simple.*
src/ontology/scatlas-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl