.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/ejp-rd-base.*
src/ontology/ejp-rd-full.*
src/ontology/ejp-rd.json
src/ontology/ejp-rd-base.*
src/ontology/ejp-rd-basic.*
src/ontology/ejp-rd-full.*
src/ontology/ejp-rd-simple.*
src/ontology/ejp-rd-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/mirror/*
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns
*.tmp.obo
*.tmp.owl
/imports

ejp-ontology-base.json
ejp-ontology-base.obo
ejp-ontology-base.owl
ejp-rd-base.json
ejp-rd-base.obo
ejp-rd-base.owl
ejp-ontology.owl
ejp-ontology.obo
ejp-ontology.json
src/ontology/ejp-ontology-base.json
src/ontology/ejp-ontology-base.json
src/ontology/ejp-ontology-base.obo
src/ontology/ejp-ontology-base.owl
metadata/list_of_ERNs.txt
metadata/rare_diseases.txt
metadata/registries.txt
metadata/registry_list.txt
metadata/terms.txt
README2.md
reports/ejp-rd-edit.owl-obo-report.tsv
src/curation/missing_terms.txt
csv2json.py
RareDiseasesList.csv
EJP-Ontology_model.png
EJP_schema.png
.DS_Store
ejp-ontology-full.json
ejp-ontology-full.obo
ejp-ontology-full.owl
issue_template.md
